:root {
	--bgcolor: #E4DCD7;
	--bgcolor-alt: var(--secondaryColor);
	--txtcolor: #1A1A1A;
	--txtcolor-alt: var(--txtcolor);
	--anchorcolor: #0000B5;
	--anchorcolor-alt: #4C0083;

	--secondaryColor: #D4C9C4;
	--tertiaryColor: #12322D;

	--content-width: 35em;
	--content-padding: 1rem;
	--border-radius: 8px;
}

:root.dark {
	--bgcolor: #1A1A1A;
	--bgcolor-alt: #242424;
	--txtcolor: #E4DCD7;
	--anchorcolor: #8BDAFC;
	--anchorcolor-alt: #F6B5FF;

	--secondaryColor: #242424;
	--tertiaryColor: #BDDDAA;
}

@font-face {
	font-family: "Sora";
	src: url("../fonts/Sora-VariableFont.ttf") format("truetype");
	font-weight: 100 900;
	font-display: swap;
}

* {
	font-family: "Sora", ".AppleSystemUIFont", "Arial", sans-serif;
}

body {
	display: flex;
	flex-direction: column;
	justify-content: center;
	line-height: 1.5;
	background-color: var(--bgcolor);
	color: var(--txtcolor);
	max-width: var(--content-width);
	margin: var(--content-padding) auto;
}

body > * {
	background-color: var(--secondaryColor);
	padding: var(--content-padding);
	margin: 0 1em 0 1em;
}

header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	border-radius: var(--border-radius) var(--border-radius) 0 0;
}

main {
	text-align: center;
	padding: var(--content-padding);
}

footer {
	background-color: var(--secondaryColor);
	border-radius: 0 0 var(--border-radius) var(--border-radius);
	font-size: 0.8em;
	text-align: center;
}

a {
	color: var(--anchorcolor);
}

a:visited { /* serve anche focused, ma dev'essere un colore diverso */
	color: var(--anchorcolor-alt);
}

#field{
	border-color: transparent;
}

/* Inputs */

form {
	margin-top: 2em;
	text-align: left;
}

input {
	width: 100%;
	margin: 0.5em 0 1.5em;
	padding: 1em;
	border-radius: var(--border-radius);
	border: none;
}

/*input:focus {
	border: 2px solid #555;
}*/

input[type=submit] {
	color: var(--bgcolor);
	background-color: var(--tertiaryColor);
}

/* Screen reader */

.sr-only {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	white-space: nowrap;
	border-width: 0;
}

/* CSS reset */

*, *::before, *::after {
	box-sizing: border-box;
}
* {
	margin: 0;
}
html, body {
	height: 100%;
}
img, picture, svg {
	display: block;
	max-width: 100%;
}
input, button, textarea, select {
	font: inherit;
}
p, h1, h2, h3, h4, h5, h6 {
	overflow-wrap: break-word;
}

/* ThemeToggle */

#themeToggle {
	padding: 0;
	color: currentcolor;
	background: transparent;
	border: 0;
}

#themeToggle svg {
	width: 1.8em;
	fill: none;
}

#themeToggle svg .sun { stroke: var(--txtcolor); }
#themeToggle svg .moon { stroke: transparent; }

html.dark #themeToggle svg .sun { stroke: transparent; }
html.dark #themeToggle svg .moon { stroke: var(--txtcolor); }

/*
==============
AUTH FOOTER
==============
*/

.auth-footer {
	display: flex;
	gap: 1em;
}

.auth-footer p {
	flex: 1 0 100px;
}