/* NAVBAR */

#dropdown-menu-toggle {
	display: block;
	background-color: transparent;
	padding: 0;
	border: 0 transparent;
}

#dropdown-link-container[data-open="false"] {
	display: none;
}

#dropdown-link-container[data-open="true"] ul {
	display: flex;
	flex-direction: column;
}

#sidebar{
	display: none;
}

#page-header #logo-icon,
#page-header .actions {
	z-index: 15;
}

#page-header ul {
	gap: 1em;
}

#page-header li {
	width: 100%;
	padding: var(--content-padding);
}

#page-header li a,
#page-header li > span {
	display: block;
	width: 100%;
	padding: 0;
}

#page-header li.active {
	background-color: var(--secondaryColor);
	border-color: currentcolor;
	padding: var(--content-padding);
}

#page-header li:hover {
	background-color: var(--secondaryColor);
	border-color: red; /* to be defined */
}

#dropdown-link-container {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	height: -webkit-fill-available; /* iOS fix */
	height: 100vh;

	display: flex;
	flex-direction: column;
	justify-content: center;

	background-color: var(--bgcolor);
	color: var(--txtcolor);
}

#dropdown-link-container[data-open="false"] {
	/* stato iniziale */
	opacity: 0;
	transform: translateY(-100%);
	transition: transform 0.2s, opacity 0.6s;
}

#dropdown-link-container[data-open="true"] {
	opacity: 1;
	transform: translateY(0);
}

#dropdown-link-container li > a,
#dropdown-link-container li > span {
	font-size: 2em;
	line-height: 1.5em;
}

.movie-details{
	margin: 1em;
}

.movie-page{
	grid-template-columns: auto;
	grid-template-areas: "a"
						 "b"
						 "c";

}
/*.movie-media {*/
/*	grid-area: a;*/
/*	min-height: 0;*/
/*}*/


.movie-media{
	margin: 0 auto 1em;
}

/*
==============
MAIN
==============
*/
/*
main > h1, h2{
	text-align: center;
}
*/
