/* NAVBAR */

/* #sidebar{
	display: none;
} */

#page-header #logo-icon,
#page-header .actions {
	z-index: 15;
}

#dropdown-menu-toggle {
	display: block;
	background-color: transparent;
	padding: 0;
	border: 0 transparent;
}

#dropdown-link-container[data-open="false"] {
	/* menù nascosto (stato iniziale) */
	opacity: 0;
	transform: translateY(-100%);
	transition: transform 0.3s, opacity 0.6s;
}

#dropdown-link-container[data-open="true"] {
	/* menù visibile */
	opacity: 1;
	transform: translateY(0);
}

#dropdown-link-container {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	height: -webkit-fill-available; /* iOS fix */
	height: 100vh;

	display: flex;
	flex-direction: column;
	justify-content: center;

	background-color: var(--bgcolor);
	color: var(--txtcolor);
}

#dropdown-link-container ul {
	display: flex;
	flex-direction: column;
}

#dropdown-link-container li {
	font-size: 2em;
	border: 0;
}

#dropdown-menu-toggle[data-open="false"] .hamburger { fill: var(--tertiaryColor);  }
#dropdown-menu-toggle[data-open="false"] .cross { fill: transparent; }

#dropdown-menu-toggle[data-open="true"] .hamburger { fill: transparent; }
#dropdown-menu-toggle[data-open="true"] .cross { fill: var(--tertiaryColor); }

/*
==============
MOVIE PAGE
==============
*/

.movie-page{
	flex-direction: column-reverse;
	align-items: center;
}

/*
==============
MAIN
==============
*/
/*
main > h1, h2{
	text-align: center;
}
*/

/*
==============
PERSON PAGE
==============
*/

#person-details {
	flex-direction: column-reverse;
	align-items: center;
	gap: 1em;
}

#person-movies {
	grid-template-columns: none;
}


/*
==============
USER PAGE
incl. Stats, Settings
==============
*/

table thead {
	border: none;
	clip: rect(0 0 0 0);
	overflow: hidden;
	position: absolute;
	width: 0;
}

table td, th{
	display: block;
	text-align: right;
}

table td::before {
	/*
	* aria-label has no advantage, it won't be read inside a table
	content: attr(aria-label);
	*/
	content: attr(data-label);
	float: left;
	font-weight: 600;
	border-collapse: collapse;
}




