@font-face {
	font-family: "Spectral";
	src: url("../fonts/spectral") format("truetype");
	font-weight: 200 800;
}

* {
	background-image: none !important;
	break-before: avoid;
}

html, body {
	font-size: 12pt;
	font-family: "Spectral", "Times New Roman", serif;
	line-height: 1.5em;
}

img, svg {
	display: none;
}

img.print, svg.print {
	display: block;
	max-width: 100%;
}
.movie-page{
	display: grid;
	grid-template-columns: 2fr 1fr;
}
#hero-image  > img{
	display: grid;
	padding-top: 7em;
	width: 100%;
}
#TabellaLunghezze, #TabellaGeneri{
	display: none;
}

#movie-details{
	display: grid;
}
#auth_form{
	display: block;
}
#page-header, #page-footer, #breadcrumb, form, iframe, .menu, .hero, .adslot {
	display: none;
}

main::after {
	content: "soundstage";
	display: block;
	text-align: center;
}

@page {
	margin: 2cm;
	size: A4;
}

.sr-only,
.skip-to-content {
	display: none;
}