@font-face {
	font-family: "Spectral";
	src: url("../fonts/spectral") format("truetype");
	font-weight: 200 800;
}

* {
	background-image: none !important;
	break-before: avoid;
}

html, body {
	font-size: 12pt;
	font-family: "Spectral", "Times New Roman", serif;
	line-height: 1.5em;
}

img.print, svg.print {
	display: block;
	max-width: 100%;
}

#movie-details > p{
	break-inside: avoid;	
}

#hero-image > img {
	display: block;
	width: 50%;
}

table, td, th{
	border: 1px solid;
	border-collapse: collapse;
}

#auth_form, #gestione{
	display: block;
}

img, svg, #page-header, #page-footer, #breadcrumb, form, .menu, .hero, #desc-generi, #desc-durate, .sr-only,
.skip-to-content {
	display: none;
}

main::after {
	content: "soundstage";
	display: block;
	text-align: center;
}

@page {
	margin: 2cm;
	size: A4;
}
