:root {
	--bgcolor: #E4DCD7;
	--bgcolor-alt: var(--secondaryColor);

	--txtcolor: #1A1A1A;
	--txtcolor-alt: var(--txtcolor); /* ??? */

	--secondaryColor: #D4C9C4;
	--tertiaryColor: #12322D;

	--anchorcolor: #0000B5;
	--anchorcolor-alt: #4C0083;

	--content-width: 60em;
	--content-padding: 1rem;
	--border-radius: 8px;
	--button-inactive: #20584F;
}

:root.dark {
	--bgcolor: #1A1A1A;
	--bgcolor-alt: #242424;
	--txtcolor: #E4DCD7;
	--anchorcolor: #8BDAFC;
	--anchorcolor-alt: #F6B5FF;

	--secondaryColor: #242424;
	--tertiaryColor: #BDDDAA;
}

@font-face {
	font-family: "Sora";
	src: url("../fonts/Sora-VariableFont.ttf") format("truetype");
	font-weight: 100 900;
	font-display: swap;
}

* {
	font-family: "Sora", ".AppleSystemUIFont", "Arial", sans-serif;
}

body {
	display: grid;
	grid-template-rows: auto auto 1fr auto;
	gap: 3vh;
	line-height: 1.5;
	background-color: var(--bgcolor);
	color: var(--txtcolor);
	max-width: var(--content-width);
	margin: 0 auto;
}

a {
	color: var(--anchorcolor);
}

a:visited {
	color: var(--anchorcolor-alt);
}

/* volendo si può mettere anche per a:active, ma dev'essere un colore diverso */

/*
==============
HEADER
==============
*/

#page-header {
	color: var(--txtcolor);
	padding: 0 0.3em;
	/*margin-left: .5em;*/
	/*margin-right: .5em;*/
	display: flex;
	justify-content: space-between;
	align-items: center;
	z-index: 10;
}

#page-header ul {
	display: flex;
	align-items: center;
	list-style: none;
	padding: 0;
	line-height: 2.6em;
}

#page-header li {
	border-bottom: 0.2em solid transparent;
}

#page-header li a {
	color: inherit;
	text-decoration: none;
	padding: 0.8em 1em;
}

#page-header li.active {
	background-color: var(--secondaryColor);
	cursor: default;
	padding: 0 1em;
}

#page-header li:hover:not(.active) {
	border-bottom: 0.2em solid var(--txtcolor);
}

#page-header .actions {
	display: flex;
}

.accountButton{
	margin-left: 0.5em;
	cursor: pointer;
}

.accountButton a {
	background-color: transparent;
	border-color: transparent;
	/* height:50px;
	width:50px; */
}

.accountButton {
	color: var(--txtcolor);
}


/*
==============
BREADCRUMB
==============
*/

#breadcrumb{
	background-color: var(--secondaryColor);
	color: var(--txtcolor);
	/*font-size: 1em;*/
	padding: 0.5em 0 0.5em 0.5em;
	margin-top: 1em;
	border-color: transparent;
}

/*
==============
MAIN
==============
*/

/*
main > h1, h2{
	text-align: center;
}

main > h2{
	font-weight: 600;
}
*/

/*main h1{
	margin-left: .5em;
	margin-right: .5em;
}*/

/*
==============
FOOTER
==============
*/

#page-footer {
	display: flex;
	flex-flow: row wrap;
	background-color: var(--secondaryColor);
	border-radius: var(--border-radius) var(--border-radius) 0 0;
	padding: 1em;
}

#page-footer > div:not(:last-child) {
	flex: 1 0 auto;
	width: 200px;
	padding: 1em 0;
}

#page-footer .title {
	text-transform: uppercase;
	font-size: 0.8em;
	letter-spacing: 0.05em;
	margin-bottom: 0.5em;
}

#page-footer ul {
	list-style: none;
	padding: 0;
}

#page-footer li {
	padding: 0.2em 0;
}

#page-footer li a {
	color: var(--txtcolor);
}

#page-footer .tmdb-attribution {
	display: flex;
	flex-flow: row wrap;
	align-items: center;
	margin-top: 2em;
	gap: 1em;
	font-size: 0.8em;
}

#page-footer svg{
	margin-right: 3em;
}


/*
==============
TMDB ATTRIBUTION
==============
*/

.tmdb-attribution p {
	flex: 1 0 100px;
}

.tmdb-attribution img {
	flex: 0 0 3em;
	width: 3em;
	margin-top: 0.4em;
}

/* Screen reader */

.sr-only {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	white-space: nowrap;
	border-width: 0;
}

/* CSS reset */

*, *::before, *::after {
	box-sizing: border-box;
}
* {
	margin: 0;
}
html, body {
	height: 100%;
}
img, picture, svg {
	display: block;
	max-width: 100%;
}
input, button, textarea, select {
	font: inherit;
}
p, h1, h2, h3, h4, h5, h6 {
	overflow-wrap: break-word;
}

/* ThemeToggle */

#themeToggle {
	padding: 0;
	color: currentcolor;
	background: transparent;
	border: 0;
	cursor: pointer;
}

#themeToggle svg {
	width: 1.8em;
	fill: none;
}

#themeToggle svg .sun { fill: transparent; }
#themeToggle svg .moon { fill: var(--txtcolor);  }

html.dark #themeToggle svg .sun { fill: var(--txtcolor); }
html.dark #themeToggle svg .moon { fill: transparent; }


/*
==============
NAV BAR
==============
*/

#dropdown-menu-toggle {
	display: none;
	color: var(--txtcolor);
}

/* ??? elena - START ??? */
.user-info{
	display: flex;
	align-items: flex-start;
}

.user-name{
	font-size: 3em;
	font-weight: 800;
}

/* questo rompe non poche cose */
/* main ul{
	align-items: center;
	font-weight: bold;
	display: flex;
	list-style: none;
} */

.list-nav{
	text-align: center;
	background-color: var(--secondaryColor);
	line-height: 3em;
	border-bottom: 3px solid transparent;
}

.link-nav a {
	padding: 1em;
	border-color: var(--tertiaryColor); /* to be defined */
}

.link-nav a:hover {
	background-color: var(--secondaryColor);
}

.link-nav > span {
	padding: 1em;
}

.film-in-list{
	display:flex;
	align-items: center;
	list-style: none;
}

.all-films-list tr:nth-child(even){
	background-color: var(--secondaryColor);
	/* color: #fff; */
}

.all-films-list, th, td{
	border: 1px solid;
	border-collapse: collapse;
	border-color: var(--tertiaryColor);
}

/* main h2 {
	font-size: 1.5em;
	font-weight: bold;
} */

/* main ul{
	text-align: center;
} */

.stats{
	text-align: center;
}

/* main dt {
	font-weight: bold;
} */

.primo{
	text-align: center;
	font-size: large;
	font-weight: bold
}
.secondo{
	font-size: medium;
	font-weight: normal;

}
.terzo{
	font-size: small;
	font-weight: lighter;
}

/* ??? elena - END ??? */

/*
==============
SEARCH BAR
==============
*/

#hero .search {
	position: relative;
	display: flex;
	margin: 1.5em auto 2.5em;
	max-width: 95%;
}

.search {
	position: relative;
	display: flex;
	margin: 4em .5em 4em .5em;
}

.searchTerm {
	width: 100%;
	padding: 1em;
	border-radius: var(--border-radius) 0 0 var(--border-radius);
	font-size: 16px;
	border: transparent;
	outline: none;
}

.searchButton {
	background: var(--tertiaryColor);
	border-radius: 0 var(--border-radius) var(--border-radius) 0;
	cursor: pointer;
	border: transparent;
	padding-left: .4em;
	padding-right: .4em;
}

.searchButton svg {
	color: var(--bgcolor);
	width: 34px;
	height: 34px;
}


.h1 {
	font-size: 3em;
	font-weight: 700;
}


/*
==============
SIDE BAR
==============
*/

#sidebar{
	display: block;
}

.sidebar {
	user-select: none;
	max-width: 15em;
	border-right: 2px solid var(--secondaryColor);
	/*overflow: hidden;*/
}

.items {
	max-height: 54vh;
	overflow: auto;
	padding: 0;
	margin-right: .5em;
}

.item {
	display: flex;
	align-items: center;
	padding: .5em;
	border-radius: var(--border-radius);
	cursor: pointer;
	justify-content: flex-start;
	margin-bottom: 0.5em;
}

.item .name {
	color: var(--txtcolor);
	font-weight: normal;
	margin-left: 20px;
}

.item * {
	pointer-events: none;
}

.item.active {
	background: var(--secondaryColor);
}

.item:hover {
	background: var(--secondaryColor);
}

hr.solid {
	border: 1px solid var(--secondaryColor);
}

.item.new-list{
	margin-top: 1em;
	background: var(--tertiaryColor);
}

.item.new-list .name{
	color: var(--bgcolor);
}

.button {
	border-top: 1px solid red;
	overflow: hidden;
}

.new-item {
	margin-top: 1em;
	display: flex;
	align-items: center;
	padding: .5em;
	border-radius: var(--border-radius);
	cursor: pointer;
	justify-content: flex-start;
	margin-bottom: 0.5em;
	background-color: greenyellow;
	border: none;
	width: 97%;
}

.new-item .name{
	margin-left: 20px;
	background-color: red;
}

.new-item .icon{
	background-color: red;
}

#wrapper {
	overflow: hidden
}

#c1 {
	float: left;
	margin-right: 1em;
}


/*
==============
CONTENTS
==============
*/

#hero {
	font-size: 2em;
	text-align: center;
}

.container {
	display: flex;
	flex-direction: row-reverse;
	flex-wrap: wrap;
	gap: 2em;
	align-items: center;
	justify-content: center;
	background-color: var(--bgcolor-alt);
	border-radius: var(--border-radius);
	padding: 2em;
	margin: 2em .5em;
}

.container > .text {
	flex: 1 0;
}

.container > img {
	flex-grow: 0;
	width: 300px; /* TODO: ridimensiona il png */
}

.cta-links {
	text-align: center;
}


/*
==============
RESULTS CARD
==============
*/

.cards {
	display: grid;
	list-style-type: none;
	grid-template-columns: repeat(auto-fit, 12em);
	padding-top: 1.5em;
	padding-bottom: 2em;
	grid-gap: 1.5em;
}

.card {
	background-color: var(--secondaryColor);
	border-radius: var(--border-radius);
	overflow: hidden;
}

.card img {
	display: block;
	object-fit: cover;
}

.details {
	padding: 20px 10px;
}

.details > h3 {
	color: var(--txtcolor);
	font-weight: bold;
	font-size: 1.5em;
}

.details > p {
	color: var(--txtcolor);
	font-size: 1em;
	line-height: 1.5em;
	font-weight: normal;
}


/*
==============
MOVIE PAGE
==============
*/

.movie-page{
	display: grid;
	margin-left: .5em;
	margin-right: .5em;
	grid-gap: 1.5em;
	grid-template-areas: "a b"
						 "a c";
}

.movie-media{
	grid-area: a;
	display: flex;
	flex-direction: column;
}

.movie-media button{
	/*width: 15.625em;*/
	font-size: 1.2em;
	font-weight: 600;
}

.movie-media img{
	margin-bottom: 1.5em;
}

#first{
	grid-area: b;
}

#second{
	grid-area: c;
}

.movie-details > h1{
	font-size: 2em;
	font-weight: 700;
	color: var(--txtcolor);
}

.movie-details > h2{
	margin-top: 1em;
	text-align: left;
}

.movie-details > p{
	font-size: 1em;
	color: var(--txtcolor);
}

#subtitle{
	font-size: .9em;
	font-weight: 500;
	color: var(--txtcolor);
	margin-top: .2em;
	margin-bottom: .7em;
}

.movie-details > ul{
	list-style-type: none;
	padding-left: 0;
}

.movie-viewed{
	color: var(--bgcolor);
	width: 100%;
	height: 2.5em;
	background: var(--tertiaryColor);
	border-color: transparent;
	border-radius: var(--border-radius);
	margin-bottom: 1em;
	cursor: pointer;
}

.movie-add-to-list{
	color: var(--tertiaryColor);
	width: 100%;
	height: 2.5em;
	background: transparent;
	border: 3px solid var(--tertiaryColor);
	border-radius: var(--border-radius);
	cursor: pointer;
}


/*
==============
INPUT FIELD
==============
*/

#inputField form {
	margin-top: 2em;
	text-align: left;
}

#inputField input {
	width: 100%;
	padding: 1em;
	border-radius: var(--border-radius);
}

#inputField input:focus {
	border: 3px solid #555;
}

#inputField input[type=submit] {
	color: white;
	background-color: var(--tertiaryColor);
}
