:root {
	--bgcolor: #E7E1DF;
	--bgcolor-alt: var(--secondaryColor);
	--bgcolor-off: #BBB2B1;

	--txtcolor: #1A1A1A;
	--txtcolor-alt: var(--txtcolor); /* ??? */

	--secondaryColor: #DBD2CD;
	--tertiaryColor: #0C443B;

	--anchorcolor: #110093;
	--anchorcolor-alt: #D04637;

	--form-required-field: #d50000;
	--form-invalid: var(--form-required-field);

	--content-width: 60em;
	--content-padding: 1rem;
	--border-radius: 8px;
	--auth-form-width: 35em;
	--header-height: 4.5em;
}

:root.dark {
	--bgcolor: #1A1A1A;
	--bgcolor-alt: #242424;
	--bgcolor-off: #434343;

	--txtcolor: #E4DCD7;

	--anchorcolor: #91E8FB;
	--anchorcolor-alt: #da4635;

	--secondaryColor: #242424;
	--tertiaryColor: #BDDDAA;

	--form-required-field: #ff3030;
	--form-invalid: var(--form-required-field);
}

@font-face {
	font-family: "Sora";
	src: url("../fonts/Sora-VariableFont.ttf") format("truetype");
	font-weight: 100 900;
	font-display: swap;
}

* {
	font-family: "Sora", ".AppleSystemUIFont", "Arial", sans-serif;
}

html {
	scroll-padding-top: var(--header-height); /* fixes anchor links behind sticky header */
	height: 100%;
}

body > #page-header,
body > main,
body > #page-footer {
	padding: var(--content-padding);
}

body {
	display: grid;
	grid-template-rows: auto auto 1fr auto;
	/*gap: 0.5em;*/
	line-height: 1.5;
	background-color: var(--bgcolor);
	color: var(--txtcolor);
	max-width: var(--content-width);
	margin: 0 auto;
	min-height: 100%;
}

a {
	color: var(--anchorcolor);
}

a:visited {
	color: var(--anchorcolor-alt);
}

/*img {
	border-radius: var(--border-radius);
}*/


.image-style {
	border-radius: var(--border-radius);
}

/*
==============
HEADER
==============
*/

#page-header {
	position: sticky;
	top: 0;
	/*color: var(--txtcolor);*/
	background-color: var(--bgcolor);
	display: flex;
	justify-content: space-between;
	/*align-items: center;*/
	z-index: 10;
	height: var(--header-height);
}

#page-header ul {
	display: flex;
	list-style: none;
	padding: 0;
}

#page-header li {
	border-bottom: 0.2em solid transparent;
	margin: 0 0.5em;
}

#page-header li a {
	display: block;
	color: inherit;
	text-decoration: none;
}

#page-header li.active {
	font-weight: 600;
	border-radius: var(--border-radius);
	background-color: var(--secondaryColor);
	pointer-events:none;
}

#page-header li a,
#page-header li.active {
	padding: 0.5em 1em 0.3em;
}

#page-header li:hover:not(.active) {
	border-color: var(--txtcolor);
}

#page-header .actions {
	display: flex;
	gap: 0.5em;
}

#page-header button {
	width: auto;
}

#page-header .logo{
	width: 3.2em;
}

.accountButton{
	cursor: pointer;
}

.accountButton path {
	fill: var(--txtcolor);
}

/*
==============
BREADCRUMB
==============
*/

#breadcrumb{
	background-color: var(--secondaryColor);
	font-size: 0.9em;
	padding: 0.5em var(--content-padding);
	border-radius: var(--border-radius);
	z-index: 5;
}

/*
==============
MAIN
==============
*/

/*
main > h1, h2{
	text-align: center;
}

main > h2{
	font-weight: 600;
}
*/

/*main h1{
	margin-left: .5em;
	margin-right: .5em;
}*/

/*
==============
FOOTER
==============
*/

#page-footer {
	display: flex;
	flex-flow: row wrap;
	background-color: var(--secondaryColor);
	border-radius: var(--border-radius) var(--border-radius) 0 0;
	padding: .5em 1em 1em;
	margin-top: 2.5em;
}

#page-footer svg{
	margin-right: 3.5em;
	width: 7em;
}

#page-footer > div:not(:last-child) {
	flex: 1 0 auto;
	width: 200px;
	padding: 1em 0;
}

#page-footer .title {
	text-transform: uppercase;
	font-size: 0.8em;
	letter-spacing: 0.05em;
	margin-bottom: 0.5em;
}

#page-footer ul {
	list-style: none;
	padding: 0;
}

#page-footer li {
	padding: 0.5em 0;
}

#page-footer li a {
	color: var(--txtcolor);
}

#page-footer .tmdb-attribution {
	display: flex;
	flex-flow: row wrap;
	align-items: center;
	margin-top: 2em;
	gap: 1em;
	font-size: 0.8em;
}

#attribution{
	font-size: .8em;
	margin-top: 1.5em;
}


/*
==============
TMDB ATTRIBUTION
==============
*/

.tmdb-attribution p {
	flex: 1 0 100px;
}

.tmdb-attribution img {
	flex: 0 0 3em;
	width: 3em;
	margin-top: 0.4em;
}

/* Screen reader */

.sr-only,
.skip-to-content {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	white-space: nowrap;
	border-width: 0;
}

.skip-to-content:focus {
	color: var(--bgcolor);
	background-color: var(--tertiaryColor);
	z-index: 999;
	width: auto;
	height: auto;
	clip: auto;
	padding: 0.5em;
}

/* CSS reset */

*, *::before, *::after {
	box-sizing: border-box;
}

* {
	margin: 0;
}

img, picture {
	display: block;
	max-width: 100%;
}

svg{
	width: 2.5em;
}

input, button, textarea, select {
	font: inherit;
}
p, h1, h2, h3, h4, h5, h6 {
	overflow-wrap: break-word;
}

/* ThemeToggle */

#themeToggle {
	padding: 0;
	color: currentcolor;
	background: transparent;
	border: 0;
	cursor: pointer;
}

#themeToggle svg {
	fill: none;
}

#themeToggle svg .sun { fill: transparent; }
#themeToggle svg .moon { fill: var(--tertiaryColor);  }

html.dark #themeToggle svg .sun { fill: var(--tertiaryColor); }
html.dark #themeToggle svg .moon { fill: transparent; }


/*
==============
DROPDOWN MENU
==============
*/

#dropdown-menu-toggle {
	display: none;
	color: var(--txtcolor);
}

/*
==============
SEARCH BAR
==============
*/

.search {
	position: relative;
	display: flex;
	flex-direction: column;
	max-width: 26em;
	margin: 2.5em auto;
}

.input-button-wrapper{
	display: flex;
	margin-top: 1em;
	height: 3.5em;
}

.searchTerm {
	border-radius: var(--border-radius) 0 0 var(--border-radius);
}

.searchButton {
	width: auto;
	border-radius: 0 var(--border-radius) var(--border-radius) 0;
	padding-left: .5em;
	padding-right: .5em;
}

.searchButton svg {
	color: var(--bgcolor);
	width: 34px;
	height: 34px;
}


/*
==============
SEARCH FILTER
==============
*/

.searchFilter{
	margin-top: .5em;
	margin-bottom: .5em;
}

.resultMessage{
	margin-bottom: 1em;
	margin-top: 1em;
}

/*
==============
SIDE BAR
==============
*/

/*

#sidebar{
	display: block;
}

.sidebar {
	user-select: none;
	max-width: 15em;
	border-right: 2px solid var(--secondaryColor);
	// overflow: hidden;
}

.items {
	max-height: 54vh;
	overflow: auto;
	padding: 0;
	margin-right: .5em;
}

.item {
	display: flex;
	align-items: center;
	padding: .5em;
	border-radius: var(--border-radius);
	cursor: pointer;
	justify-content: flex-start;
	margin-bottom: 0.5em;
}

.item .name {
	color: var(--txtcolor);
	font-weight: normal;
	margin-left: 20px;
}

.item * {
	pointer-events: none;
}

.item.active {
	background: var(--secondaryColor);
}

.item:hover {
	background: var(--secondaryColor);
}

hr.solid {
	border: 1px solid var(--secondaryColor);
}

.item.new-list{
	margin-top: 1em;
	background: var(--tertiaryColor);
}

.item.new-list .name{
	color: var(--bgcolor);
}

.new-item {
	margin-top: 1em;
	display: flex;
	align-items: center;
	padding: .5em;
	border-radius: var(--border-radius);
	cursor: pointer;
	justify-content: flex-start;
	margin-bottom: 0.5em;
	background-color: greenyellow;
	border: none;
	width: 97%;
}

.new-item .name{
	margin-left: 20px;
	background-color: red;
}

.new-item .icon{
	background-color: red;
}

#wrapper {
	overflow: hidden
}

#c1 {
	float: left;
	margin-right: 1em;
}

*/

/*
==============
INDEX
==============
*/

#hero h1 {
	font-size: 3em;
	text-align: center;
}

#hero p {
	font-size: 1.5em;
	text-align: center;
	margin-bottom: .5em;
}

.container {
	display: flex;
	flex-flow: row-reverse wrap;
	gap: 2em;
	align-items: center;
	justify-content: center;
	background-color: var(--bgcolor-alt);
	border-radius: var(--border-radius);
	padding: 1.5em;
	margin-top: 2.5em;
}

.hero-image {
	background-image: url("../img/mockup_device_dark.webp");
	background-repeat: no-repeat;
	background-position: left;
	background-size: 17em;
	height: 34em;
	width: 17em;
}

.container > .text {
	flex: 1 0;
}

.container > img {
	flex-grow: 0;
	width: 300px; /* TODO: ridimensiona il png */
}

/*
==============
CARDS / H-CARDS
==============
*/


.cards, .h-cards {
	list-style-type: none;
	padding: 0;
}

.cards {
	display: grid;
	grid-template-columns: repeat(auto-fit, 10.5em);
	gap: 1em;
	justify-content: center;
}

.card, .h-card {
	background-color: var(--secondaryColor);
	border-radius: var(--border-radius);
	overflow: hidden;
}

.card > a,
.h-card > a {
	display: flex;
	text-decoration: none;
}

.card > a {
	flex-direction: column;
	height: 100%;
}

.h-card > a {
	flex-direction: row;
	width: 100%;
}

.card > a img {
	height: 15.75em;
}

.h-card > a img {
	height: 13em;
}

.card > a .details,
.h-card > a .details {
	padding: 0.5em;
}

.card > a .details > .cardtitle,
.h-card > a .details > .cardtitle {
	text-decoration: underline;
	font-size: 1.3em;
}

.card > a .details > *:not(.cardtitle),
.h-card > a .details > *:not(.cardtitle) {
	color: var(--txtcolor);
}


/*
==============
MOVIE PAGE
==============
*/

.movie-page {
	display: flex;
	flex-flow: row-reverse wrap;
	gap: 2em;
}

.movie-details {
	flex: 1 1;
}

.movie-media {
	flex: 0 1 300px; /* set to image width */
}

.modify-button {
	display: flex;
	text-align: center;
	background-color: var(--secondaryColor);
	border-radius: var(--border-radius);
	border: 2px solid var(--bgcolor-off);
	padding: .5em;
	height: 4em;
	margin: 0.5em auto;
	max-width: 22em;
}

.modify-button a {
	align-self: center;
	font-size: 1.2em;
}

.modify-button svg {
	min-width: 2em;
	min-height: 2em;
	margin: auto 0.3em;
}


li .modify-button a {
	margin-right: .5em;

}

.movie-media img {
	margin-bottom: 1em;
}

.movie-details h1 {
	font-size: 2em;
	font-weight: 700;
	color: var(--txtcolor);
}

.movie-details section {
	margin: 2em 0;
}

.movie-details dl.info {
	display: grid;
	grid-template-columns: auto 1fr;
	grid-gap: 0.5em 1em;
}

.movie-details dl.info dt::after {
	content: ':';
}

.movie-details .pills dd,
.movie-details .pills li {
	display: inline;
	margin-right: 0.5em;
	line-height: 3em;
	white-space: nowrap;
}

.movie-details .pills dt:not(:first-of-type) {
	margin-top: 1em;
}

.movie-details .pills dd > a,
.movie-details .pills li > a {
	padding: 0.5em;
	border: 1px solid var(--bgcolor-off);
	border-radius: var(--border-radius);
	background-color: var(--bgcolor-alt);
}

.movie-page #subtitle {
	display: flex;
	flex-wrap: wrap;
	font-size: .9em;
	font-weight: 500;
	margin: 0.5em 0;
}

.movie-page #subtitle dd:not(:first-of-type)::before {
	content: '\2022';
	margin: 0 0.75em;
}

.movie-details ul {
	list-style-type: none;
	padding-left: 0;
}

/* .movie-media button {
	font-size: 1.2em;
	font-weight: 600;
	width: 100%;
	height: 2.5em;
	margin-bottom: 1em;
	cursor: pointer;
	border-radius: var(--border-radius);
	border: 3px solid var(--tertiaryColor);
}

.movie-media button.movie-viewed {
	color: var(--bgcolor);
	background: var(--tertiaryColor);
} */

/* .movie-media button.add-to-list {
	color: var(--tertiaryColor);
	background: transparent;
} */

/*
==============
REVIEWS
==============
*/

.movie-page .reviews {
	display: flex;
	flex-direction: column;
}

.movie-page .review {
	background-color: var(--secondaryColor);
	padding: var(--content-padding);
	border-radius: var(--border-radius);
	margin-bottom: 1em;
}

.movie-page .review .rating {
	font-size: 1.2em;
	line-height: 1.2;
	font-weight: 600;
	float: right;
}

.movie-page .review .rating > span {
	font-size: initial;
	font-weight: initial;
}

.movie-page .review .author {
	line-height: 1.2;
	margin-bottom: 1em;
}

#add-review fieldset > * {
	margin-top: 0.5em;
}

#add-review textarea {
	min-height: 7em;
}

#add-review .rating-range {
	display: flex;
}

#add-review .rating-range > div {
	flex: 1 1 10%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

/*
==============
INPUT FIELD
==============
*/

input, textarea, button, select {
	width: 100%;
	padding: 0.5em;
	border-radius: var(--border-radius);
	background-color: white;
	border: none;
}

textarea {
	min-height: 5em;
	resize: vertical;
}

button[type=submit] {
	color: var(--bgcolor);
	background-color: var(--tertiaryColor);
	cursor: pointer;
	border: transparent;
	font-weight: 600;
	font-size: 1.2em;
}

#addListButton{
	margin-top: 0.5em;
}

/*
==============
AUTH
==============
*/

#auth main {
	max-width: var(--auth-form-width);
	margin: 0 auto;
	background-color: var(--secondaryColor);
	border-radius: var(--border-radius);
	text-align: center;
	padding: var(--content-padding);
}

#auth_message {
	padding-top: 1em;
}

#auth_form {
	margin-top: 1.5em;
	text-align: left;
}

#auth_form > fieldset {
	border-color: transparent;
}

#auth_form > fieldset input {
	margin-bottom: 1em;
}

/*
==============
404 PAGE
==============
*/

.error-404 .error-code {
	display: flex;
	justify-content: center;
	font-size: 5em;
	font-weight: 800;
}

.error-404 .error-code > span {
	float: left;
	transform: rotate(-30deg);
}

.error-404 .message {
	font-size: 1.2em;
	text-align: center;
}

.monster {
	width: 20em;
	height: 20em;
	margin: 0 auto;
}

.monster #surrounding {
	fill: var(--txtcolor);
}

.monster #alien {
	fill: var(--tertiaryColor);
}


/*
==============
ABOUT PAGE
==============
*/

.about-page section {
	margin: 2em 0;
}

.about-page h3,
.about-page p {
	margin-bottom: 0.5em;
}

.about-page blockquote {
	font-size: 1.2em;
	text-align: center;
	margin-top: 1em;
}

.about-page figcaption {
	text-align: center;
	margin-bottom: 1em;
}

/*
==============
STATS PAGE
==============
*/

table {
	/*table-layout: fixed;*/
	width: 100%;
	text-align: center;
	border-collapse: collapse;
}

table caption {
	font-size: 1.5em;
	margin: 1.7em auto .5em;
}

table th, td {
	padding: .5em;
	border: 2px solid var(--bgcolor-off);
}

tbody tr:nth-child(odd){
	background-color: var(--secondaryColor);
}

/*
==============
USER LISTS PAGE
==============
*/

#list-movies li {
	margin-top: 1.5em;
	display: flex;  /* Set the display property to flex to enable flexbox layout */
	align-items: center;  /* Center the .button-container element vertically */
	justify-content: center;  /* Center the .button-container element horizontally */
}

.deleteElementButton {
	margin-top: auto;
	margin-right: .5em;
	margin-left: .5em;
	width: 3em;
	height: 3em;
}

.deleteElementButton svg{
	width: 2em;
	height: 2em;
}

/*
==============
GESTIONE
==============
*/

#gestione fieldset {
	/* border: 0; */
	margin-top: 1.5em;
}

#gestione textarea#descrizione {
	height: 15em;
}

#gestione legend {
	font-size: 1.8em;
	font-weight: 600;
}

#gestione label {
	font-size: 1.2em;
	font-weight: 600;
}

#gestione #delete {
	background-color: red;
}

/*
==============
PERSON/COLLECTION PAGE
==============
*/

#person-details,
#collection-details {
	display: flex;
	flex-direction: row-reverse;
	justify-content: flex-end;
	gap: 2em;
	margin-bottom: 2em;
}

#person-details dl {
	display: grid;
	grid-template-columns: auto 1fr;
	grid-gap: 0 1em;
}

#person-details dl dt::after {
	content: ':';
}

#person-details img,
#collection-details img {
	flex: 0 1;
	max-width: 300px;
	align-self: center;
}

#person-movies {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 1em;
}

#collection-movies li {
	margin-top: 1em;
}

/*
==============
FORMS
==============
*/

form .required {
	margin-left: 0.5ch;
	color: var(--form-required-field);
}

form input.invalid {
	outline: 0.15rem solid var(--form-invalid);
}
