* {
	font-family: "Sora", sans-serif;
}

:root {
	--bgcolor: #E4DCD7;
	--txtcolor: #1A1A1A;
	--secondaryColor: #D4C9C4;
	--tetriaryColor: #12322D;
}

@font-face {
	font-family: "Sora";
	src: url("../fonts/Sora-VariableFont.ttf") format("truetype");
}

body {
	background-color: var(--bgcolor);
	/*display: flex;
	flex-direction: column;*/
}

body h1,
h2 {
	text-align: center;
}

main > h1 {
	font-size: 4em;
	font-weight: 800;
}

main > h2 {
	padding-top: 0.7em;
	font-size: 2.5em;
	font-weight: 500;
}

main {
	background-color: var(--bgcolor);
	color: var(--txtcolor);
	line-height: 1em;
}

ul {
	list-style-type:none;
	display:flex;
	/*background-color: var(--secondaryColor);*/
	padding: 0.7em;
	justify-content: center;
}

.logo-header {
	position: absolute;
	left: 1em;
}

header li {
	display: block;
	color: var(--txtcolor);
}

header li.active {
	padding: 0px 24px 10px;
	border-bottom: 3px solid var(--txtcolor);
}

header li a {
	padding: 0px 24px 10px;
	text-decoration: none;
	color: inherit;
}

header li a:hover {
	border-bottom: 3px solid red;
}

.accountButton {
	background-color: transparent;
	border: transparent;
	position: absolute;
	right: 1em;
	align-content: center;
}

.searchShapeContainer {
	height: 250px;
	border-radius: 0 125px 125px 0;
	background-color: var(--txtcolor);
	padding-left: 2em;
}

.search {
	position: relative;
	display: flex;
	top: 97.67px;
}

.searchTerm {
	width: 80%;
	padding: 1em;
	border-radius: 12px 0 0 12px;
	font-size: 16px;
	border: transparent;
	outline: none;
}

#my-field{
	background-color: var(--secondaryColor);
}

.searchButton {
	padding: 1em;
	background: var(--tetriaryColor);
	border-radius: 0 12px 12px 0;
	cursor: pointer;
	border: transparent;
	margin-left: 0;
}

/*footer{
	background-color: var(--secondaryColor);
	color: var(--txtcolor);
	margin-top: auto;
}*/

footer {
	background-color: var(--secondaryColor);
	padding: 1em;
}

footer .info {
	display: flex;
	/* align-items: center; */
	justify-content: space-between;
}

/* footer .tmdb-attribution {
	background-image: url("img/tmdb.svg");
	background-position: left;
	background-repeat: no-repeat;
	background-size: contain;
	height: 6em;
	text-indent: 10em;
} */

.links {
	display: flex;
	flex-direction: column;
}

.links li a {
	color: var(--txtcolor);
	text-decoration: underline;
	text-decoration-color: var(--txtcolor);
}

footer .tmdb-attribution {
	padding-top: 1em;
	display: flex;
	justify-content: center;
}

.tmdb-attribution img {
	height: 2em;
}

.tmdb-attribution > p{
	font-size: 0.7em;
	padding-left: 1em;
}

/*.logo-footer {
	width: 30%;
}
.quickLinks {
	width: 30%;
}
.quickContacts {
	width: 30%;
}*/

/*DEMO AREA*/

.container{
	padding-top: 0.5em;
}
.contents {
	background-color: var(--secondaryColor);
}

.image-container .content {
	height: 640px;
	width: 100%;
	margin-bottom: 0;
	max-width: 100%;
}

.content {
	height: 100%;
	background-image: url(img/logo.svg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.content .title {
	text-align: center;
	padding-top: 3.5em;
}


.content .title h1 {
	font-size: 3.5em;
	color: var(--txtcolor);
	font-weight: 600;
}
.content .title p {
	font-size: 2em;
	font-weight: 500;
	color: gray;
}

.cta-links {
	text-align: center;
}

/*
 * CSS reset
 */

*, *::before, *::after {
	box-sizing: border-box;
}
* {
	margin: 0;
}
html, body {
	height: 100%;
}
img, picture, svg {
	display: block;
	max-width: 100%;
}
input, button, textarea, select {
	font: inherit;
}
p, h1, h2, h3, h4, h5, h6 {
	overflow-wrap: break-word;
}
