*{
	padding: 0;
	margin: 0.5em;
}

:root{
	--bgcolor: #E4DCD7;
	--txtcolor: #1A1A1A;
	--secondaryColor: #D4C9C4;

}

@font-face {
	font-family: "Sora";
	url('fonts/Sora-VariableFont') format('truetype');
}

#footer h6{
	font-weight: normal;
}

body{
	max-width: 1024px;
}

html, body{
	background-color: var(--bgcolor);
	color: var(--txtcolor);
	max-width: 1024px;
	font-family: "Sora", sans-serif;
	line-height: 1;
	margin: auto;
}

a{
	color: red;
}
