* {
	font-family: "Sora", sans-serif;
}

:root {
	--bgcolor: #E4DCD7;
	--txtcolor: #1A1A1A;
	--secondaryColor: #D4C9C4;
	--tetriaryColor: #12322D;
}

@font-face {
	font-family: "Sora";
	src: url("fonts/Sora-VariableFont.ttf") format("truetype");
}

body {
	background-color: var(--bgcolor);
	/*display: flex;
	flex-direction: column;*/
}

main {
	background-color: var(--bgcolor);
	color: var(--txtcolor);
	line-height: 1em;
}

.accountButton {
	background-color: transparent;
	border: transparent;
	position: absolute;
	right: 1em;
	align-content: center;
}

body h1,h2 {
	text-align: center;
}

.search {
	position: relative;
	display: flex;
	top: 97.67px;
	left: 4%;

}

.searchShapeContainer {
	height: 250px;
	border-radius: 0 125px 125px 0;
	background-color: var(--secondaryColor);
}

.searchTerm {
	width: 80%;
	padding: 9px;
	border-radius: 12px 0 0 12px;
	font-size: 16px;
	border: transparent;
	outline: none;
}

.searchButton {
	padding: 1em;
	background: var(--tetriaryColor);
	align-content: center;
	border-radius: 0 12px 12px 0;
	cursor: pointer;
	margin-left: 0;
	margin-right: 0;
	border: transparent;
}


ul {
	list-style-type:none;
	display:flex;
	background-color: var(--secondaryColor);
	padding: 0.7em;
	justify-content: center;
}

.logo-header {
	position: absolute;
	left: 1em;
	align-content: center;
}

li>a {
	display: block;
	color: var(--txtcolor);
	padding: 10px 24px;
	text-decoration: none;

}

li a:hover:not(.active) {
	border-bottom: 3px solid gray;
}

.active {
	border-bottom: 3px solid var(--txtcolor);
}

/*footer{
	background-color: var(--secondaryColor);
	color: var(--txtcolor);
	margin-top: auto;
}*/

footer {
	background-color: var(--secondaryColor);
	padding: 1em;
}

footer .info {
	display: flex;
	/* align-items: center; */
	justify-content: space-between;
}

footer .tmdb-attribution {
	display: flex;
}

/* footer .tmdb-attribution {
	background-image: url("img/tmdb.svg");
	background-position: left;
	background-repeat: no-repeat;
	background-size: contain;
	height: 6em;
	text-indent: 10em;
} */

.links {
	display: flex;
	flex-direction: column;
}


.links li a {
	color: var(--txtcolor);
	text-decoration: underline;
	text-decoration-color: blue;
}


/*.logo-footer {

	width: 30%;
}

.quickLinks {
	width: 30%;
}

.quickContacts {
	width: 30%;
}*/

@media screen and (max-width: 600px) {
	footer {
		flex-direction: column;
		justify-content: space-evenly;
		height: 100vh;
		padding: 0 20px;
	}

	.logo-footer,
	.quickLinks,
	.quickContacts {
		width: 100%;
	}
}

