localhost {
	encode zstd gzip
	handle_errors {
		respond "{err.status_code} {err.status_text}"
	}
	redir /pma /pma/
	handle_path /pma/* {
		root * /srv/phpmyadmin
		file_server
		php_fastcgi phpmyadmin:9000 {
			root /var/www/html
		}
	}
	handle {
		root * /srv/sito
		file_server browse
		php_fastcgi php-fpm:9000 {
			root /var/www/html
			try_files {path} {path}/index.php {path}/
		}
	}
}
